<a href="{{url}}" target="_blank" class="block w-full h-full">
    <div class="w-full h-full flex items-center justify-center overflow-hidden">
        <img alt="{{name}}" src="img/platforms/{{img_path}}" class="w-full h-full object-contain" />
    </div>
</a>