<a
    href="https://pytorch.org/"
    target="_blank"
>
    <div
        {{! style="width: 100%; height: 100%; overflow: hidden; transform: translate(-12%, -12%);" }}
    >
        <img
            alt="PyTorch"
            src="img/platforms/pytorch.svg"
            style="width: 100%; height: 100%; object-fit: contain;"
        >
    </div>
</a>