<a href="https://lightning.ai/" target="_blank">
    <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden;">
        <img alt="Lightning" src="img/platforms/pytorch_lightning.svg" style="height: 100%; width: auto; object-fit: contain;">
    </div>
</a>